# Provides builds of slang and spirv-tools for the website
name: Build Dependencies

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: get emsdk
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build
          git clone https://github.com/emscripten-core/emsdk.git
          sed -i 's/\r$//' emsdk/emsdk emsdk/emsdk_env.sh

      - name: get slang head commit
        run: |
          git clone https://github.com/shader-slang/slang.git slang-repo
          git -C slang-repo rev-parse HEAD > key.txt

      - name: get spirv-tool head commit
        run: |
          git clone https://github.com/KhronosGroup/SPIRV-Tools.git spirv-tools
          pushd spirv-tools
          git checkout vulkan-sdk-1.3.290.0
          popd
          echo "$(git -C spirv-tools rev-parse HEAD)" >> key-spirv-tool.txt

      - name: slang-wasm build
        run: |
          /bin/bash -x ./build_scripts/slang-wasm-build.sh

      - name: spirv-tools-wasm build
        run: |
          /bin/bash -x ./build_scripts/spirv-tool-wasm-build.sh

      - name: Cleanup workspace, move files, and build
        run: |
          rm -rf slang-repo
          rm -rf emsdk
          rm -rf spirv-tools
          mkdir dependencies
          mv ./slang-wasm.wasm.gz ./slang-wasm.js ./slang-wasm.d.ts ./dependencies/
          mv ./spirv-tools.wasm ./spirv-tools.js ./spirv-tools.d.ts ./dependencies/

      - name: Upload export artifact
        uses: actions/upload-artifact@v4
        with:
          name: site-artifact
          path: ./dependencies/
          compression-level: 1
